PORT=4002
MONGODB_URI=mongodb://localhost:27017/mrkapu
JWT_SECRET=change_me_to_a_long_random_secret

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=
AWS_S3_PUBLIC_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

EVENT_BUS_NAME=
